body {
    margin: 0;
    padding: 0;
}

#landing-page {
    display: flex;
    flex-direction: column;
    
}

#header {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding-top: 27px;
    gap: 400px;
    
}

.navbar nav{
    display: flex;
    gap: 25px;
    font-size: large;
}

a {
    text-decoration: none;
    font-weight: 500;
    color: black;
}

.logo {
    font-size: 25px;
    font-weight: bolder;
}

span {
    color: #F90550;
}

#content {
    display: flex;
    padding-top: 40px;
    justify-content: center;
    align-items: center;
    gap: 160px;
}

#content .description .info h2 {
    font-size: 54px;
    margin-bottom: 0;
}

#content .description .info p {
    font-size: 20px;
    margin-top: 0;
}


#content button:first-of-type {
    background-color: red;
    border-radius: 6px;
    border: none;
    height: 35px;
    width: 100px;
}

#content button:last-of-type {
    background-color: red;
    border-radius: 6px;
    border: none;
    margin-left: 11px;
    height: 35px;
    width: 100px;
}


#content .social-links img {
    width: 40px;
    border: 10px;
    border-color: aqua;
}

.social-links {
    padding-top: 30px;
}

#content .image {
    margin-right: 110px;
}