body {
    margin: 1;
    padding: 1;
}

#landing-page {
    display: flex;
    flex-direction: column;
    
}

#header {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    justify-content: center;
    padding-top: 27px;
    padding-bottom: 10px;
    gap: 400px;
    
}

.navbar nav{
    display: flex;
    gap: 25px;
    font-size: large;
}

a {
    text-decoration: none;
    font-weight: 500;
    color: black;
}

.logo {
    font-size: 25px;
    font-weight: bolder;
}

span {
    color: #F90550;
}

#content {
    display: flex;
    padding-top: 40px;
    justify-content: center;
    align-items: center;
    gap: 160px;
    padding-top: 75px;
}

#content .description .info h2 {
    font-size: 54px;
    margin-bottom: 0;
}

#content .description .info p {
    font-size: 20px;
    margin-top: 0;
}

button {
    color: white;
}

#content button:first-of-type {
    background-color: #F90550;
    border-radius: 6px;
    border: none;
    height: 35px;
    width: 100px;
}

#content button:last-of-type {
    background-color: #F90550;
    border-radius: 6px;
    border: none;
    margin-left: 11px;
    height: 35px;
    width: 100px;
}


#content .social-links img {
    width: 40px;
    border: 10px;
    border-color: aqua;
}

.social-links {
    padding-top: 30px;
}

#content .image {
    margin-right: 110px;
}